version: '3.8'

services:
  web:
    build: .
    container_name: 0gwallet
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    external: true











